# OAuth токены нам не нужны
bot/token_*.pickle

# нам не нужен кэщ
__pycache__/
*.pyc

# игнорируем json, а иначе все ляжет
bot/calendari.json

# игноириуем дб
bot/databases/*.db

# их вроде нет, но пусть
.env

# на всякий
*.db
*.pickle